h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  }

  h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
  }

#title-line {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  }

#brushes {
  background-color: mediumspringgreen;
}

#frame {
  background-color: lightcoral;
}

#paint-store {
  background-color: skyblue;
}

p em {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
